root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# python
[*.py]
indent_size = 4

# docs
[*.md]
trim_trailing_whitespace = false

# shell scripts
[{*.bash,*.sh,*.zsh}]
indent_size = 2

# javascript
[*.js{,on,x}]
indent_size = 2

# html
[*.htm{,l}]
indent_size = 2

# config files
[*.{toml,yaml,yml}]
indent_size = 2
